In [1]:
import mysql.connector
def connect_sqldb():
    mydb = mysql.connector.connect(
        host = "localhost",
        user="root",
        password="admin",
        database="pokeraiproject"
    )
    return mydb

In [8]:
def log_sql(db:object(),sql:str()):
    cursor = db.cursor()
    print("REQUETE SQL AVANT ENVOI : "+sql)
    cursor.execute(sql)
    #db.commit()
    #cursor.close()
    #db.close()

In [3]:
import pandas as pd
import numpy as np

In [11]:
db_conn = connect_sqldb()
cursor = db_conn.cursor()
cursor.execute("SELECT * FROM Table6Phase1Action")
table_rows = cursor.fetchall()
df = pd.DataFrame(table_rows)

In [12]:
df

,0,1,2,3,4,5,6,7,8,9,...,39,40,41,42,43,44,45,46,47,48
0,210328165805,All-in,1500,0,True,12,Diamonds,3,Spades,Fold,...,7,Spades,Fold,0,1500,False,7,Clubs,6,Hearts
1,210328165807,All-in,0,0,False,12,Spades,11,Diamonds,Call,...,13,Spades,Blind,50,1450,True,10,Clubs,13,Diamonds
2,210328165808,All-in,0,0,False,7,Hearts,9,Hearts,Call,...,8,Clubs,All-in,1450,0,True,7,Diamonds,13,Hearts
3,210328165809,All-in,0,0,False,3,Spades,13,Spades,Fold,...,7,Hearts,Raise,2897,1453,True,13,Diamonds,13,Clubs
4,210328165810,All-in,0,0,False,2,Hearts,4,Spades,Raise,...,12,Hearts,Fold,0,7222,False,9,Spades,6,Diamonds
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
161,210329005353,Raise,401,229.0,True,12,Clubs,3,Clubs,Blind,...,2,Diamonds,Blind,0,0,False,14,Hearts,2,Clubs
162,210329005354,Raise,419,261.0,True,3,Spades,5,Clubs,Blind,...,11,Hearts,Blind,0,0,False,12,Spades,3,Clubs
163,210329005355,Fold,0,680.0,False,2,Spades,7,Diamonds,Blind,...,4,Diamonds,Blind,0,0,False,10,Spades,13,Spades
164,210329005357,Call,0,680.0,True,8,Clubs,10,Spades,Blind,...,5,Spades,Blind,0,0,False,2,Clubs,4,Hearts
165,210329005358,Call,0,705.0,True,9,Diamonds,3,Diamonds,Blind,...,3,Spades,Blind,0,0,False,4,Spades,11,Diamonds

In [13]:
df = pd.read_sql('SELECT * FROM Table6Phase1Action',con=db_conn)

In [14]:
df

,gameID,Player1Action,Player1Bet,Player1Money,Player1Status,Player1Card1Value,Player1Card1Figure,Player1Card2Value,Player1Card2Figure,Player2Action,...,Player5Card2Value,Player5Card2Figure,Player6Action,Player6Bet,Player6Money,Player6Status,Player6Card1Value,Player6Card1Figure,Player6Card2Value,Player6Card2Figure
0,210328165805,All-in,1500,0,True,12,Diamonds,3,Spades,Fold,...,7,Spades,Fold,0,1500,False,7,Clubs,6,Hearts
1,210328165807,All-in,0,0,False,12,Spades,11,Diamonds,Call,...,13,Spades,Blind,50,1450,True,10,Clubs,13,Diamonds
2,210328165808,All-in,0,0,False,7,Hearts,9,Hearts,Call,...,8,Clubs,All-in,1450,0,True,7,Diamonds,13,Hearts
3,210328165809,All-in,0,0,False,3,Spades,13,Spades,Fold,...,7,Hearts,Raise,2897,1453,True,13,Diamonds,13,Clubs
4,210328165810,All-in,0,0,False,2,Hearts,4,Spades,Raise,...,12,Hearts,Fold,0,7222,False,9,Spades,6,Diamonds
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
161,210329005353,Raise,401,229.0,True,12,Clubs,3,Clubs,Blind,...,2,Diamonds,Blind,0,0,False,14,Hearts,2,Clubs
162,210329005354,Raise,419,261.0,True,3,Spades,5,Clubs,Blind,...,11,Hearts,Blind,0,0,False,12,Spades,3,Clubs
163,210329005355,Fold,0,680.0,False,2,Spades,7,Diamonds,Blind,...,4,Diamonds,Blind,0,0,False,10,Spades,13,Spades
164,210329005357,Call,0,680.0,True,8,Clubs,10,Spades,Blind,...,5,Spades,Blind,0,0,False,2,Clubs,4,Hearts
165,210329005358,Call,0,705.0,True,9,Diamonds,3,Diamonds,Blind,...,3,Spades,Blind,0,0,False,4,Spades,11,Diamonds

In [18]:
for i in range(6):
   #print(i+1)
   pass

df.columns

Index(['gameID', 'Player1Action', 'Player1Bet', 'Player1Money',
       'Player1Status', 'Player1Card1Value', 'Player1Card1Figure',
       'Player1Card2Value', 'Player1Card2Figure', 'Player2Action',
       'Player2Bet', 'Player2Money', 'Player2Status', 'Player2Card1Value',
       'Player2Card1Figure', 'Player2Card2Value', 'Player2Card2Figure',
       'Player3Action', 'Player3Bet', 'Player3Money', 'Player3Status',
       'Player3Card1Value', 'Player3Card1Figure', 'Player3Card2Value',
       'Player3Card2Figure', 'Player4Action', 'Player4Bet', 'Player4Money',
       'Player4Status', 'Player4Card1Value', 'Player4Card1Figure',
       'Player4Card2Value', 'Player4Card2Figure', 'Player5Action',
       'Player5Bet', 'Player5Money', 'Player5Status', 'Player5Card1Value',
       'Player5Card1Figure', 'Player5Card2Value', 'Player5Card2Figure',
       'Player6Action', 'Player6Bet', 'Player6Money', 'Player6Status',
       'Player6Card1Value', 'Player6Card1Figure', 'Player6Card2Value',
       'Player6Card2Figure'],
      dtype='object')

In [19]:
df['gameID']

0      210328165805
1      210328165807
2      210328165808
3      210328165809
4      210328165810
           ...
161    210329005353
162    210329005354
163    210329005355
164    210329005357
165    210329005358
Name: gameID, Length: 166, dtype: object

In [2]:
import tensorflow as tf
from tensorflow.keras.utils import to_categorical

In [ ]:
inputs = tf.keras.Input(shape=)