In [1]:
import mysql.connector
import pandas as pd
import numpy as np
import tensorflow as tf
from tensorflow.keras.utils import to_categorical
import datascripts as ds

In [2]:
def connect_sqldb():
    mydb = mysql.connector.connect(
        host = "localhost",
        user="root",
        password="admin",
        database="pokeraiproject"
    )
    return mydb

db_conn = connect_sqldb()

In [3]:
df_6x1 = pd.read_sql('SELECT * FROM Table6Phase1Action',con=db_conn)
df_6x2 = pd.read_sql('SELECT * FROM Table6Phase2Action',con=db_conn)
df_6x3 = pd.read_sql('SELECT * FROM Table6Phase3Action',con=db_conn)
df_6x4 = pd.read_sql('SELECT * FROM Table6Phase4Action',con=db_conn)
df_6xR = pd.read_sql('SELECT * FROM Table6Result',con=db_conn)

In [10]:
df6 = pd.read_sql("""
SELECT * FROM Table6Phase1Action
LEFT JOIN Table6Phase2Action on Table6Phase1Action.gameID = Table6Phase2Action.gameID
LEFT JOIN Table6Phase3Action on Table6Phase1Action.gameID = Table6Phase3Action.gameID
LEFT JOIN Table6Phase4Action on Table6Phase1Action.gameID = Table6Phase4Action.gameID
LEFT JOIN Table6Result on Table6Phase1Action.gameID = Table6Result.gameID
""",con=db_conn)

In [4]:
df_6x1

,gameID,Player1Action,Player1Bet,Player1Money,Player1Status,Player1Card1Value,Player1Card1Figure,Player1Card2Value,Player1Card2Figure,Player2Action,...,Player5Card2Value,Player5Card2Figure,Player6Action,Player6Bet,Player6Money,Player6Status,Player6Card1Value,Player6Card1Figure,Player6Card2Value,Player6Card2Figure
0,210328165805,All-in,1500,0,True,12,Diamonds,3,Spades,Fold,...,7,Spades,Fold,0,1500,False,7,Clubs,6,Hearts
1,210328165807,All-in,0,0,False,12,Spades,11,Diamonds,Call,...,13,Spades,Blind,50,1450,True,10,Clubs,13,Diamonds
2,210328165808,All-in,0,0,False,7,Hearts,9,Hearts,Call,...,8,Clubs,All-in,1450,0,True,7,Diamonds,13,Hearts
3,210328165809,All-in,0,0,False,3,Spades,13,Spades,Fold,...,7,Hearts,Raise,2897,1453,True,13,Diamonds,13,Clubs
4,210328165810,All-in,0,0,False,2,Hearts,4,Spades,Raise,...,12,Hearts,Fold,0,7222,False,9,Spades,6,Diamonds
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
211,210329013329,Call,0,27673,True,6,Clubs,11,Spades,Blind,...,10,Spades,Blind,0,0,False,12,Diamonds,5,Clubs
212,210329013330,Raise,3074,24649,True,12,Clubs,12,Spades,Blind,...,5,Diamonds,Blind,0,0,False,3,Clubs,8,Diamonds
213,210329013331,Raise,3083,24665,True,11,Diamonds,5,Spades,Blind,...,12,Hearts,Blind,0,0,False,9,Diamonds,10,Diamonds
214,210329013332,Call,0,30831,True,8,Hearts,2,Spades,Blind,...,5,Clubs,Blind,0,0,False,10,Spades,12,Hearts
215,210329013333,Fold,0,30831,False,10,Spades,2,Hearts,Blind,...,9,Spades,Blind,0,0,False,2,Clubs,3,Hearts

In [5]:
df_6x1.columns

Index(['gameID', 'Player1Action', 'Player1Bet', 'Player1Money',
       'Player1Status', 'Player1Card1Value', 'Player1Card1Figure',
       'Player1Card2Value', 'Player1Card2Figure', 'Player2Action',
       'Player2Bet', 'Player2Money', 'Player2Status', 'Player2Card1Value',
       'Player2Card1Figure', 'Player2Card2Value', 'Player2Card2Figure',
       'Player3Action', 'Player3Bet', 'Player3Money', 'Player3Status',
       'Player3Card1Value', 'Player3Card1Figure', 'Player3Card2Value',
       'Player3Card2Figure', 'Player4Action', 'Player4Bet', 'Player4Money',
       'Player4Status', 'Player4Card1Value', 'Player4Card1Figure',
       'Player4Card2Value', 'Player4Card2Figure', 'Player5Action',
       'Player5Bet', 'Player5Money', 'Player5Status', 'Player5Card1Value',
       'Player5Card1Figure', 'Player5Card2Value', 'Player5Card2Figure',
       'Player6Action', 'Player6Bet', 'Player6Money', 'Player6Status',
       'Player6Card1Value', 'Player6Card1Figure', 'Player6Card2Value',
       'Player6Card2Figure'],
      dtype='object')

In [6]:
df_6x1['gameID']

0      210328165805
1      210328165807
2      210328165808
3      210328165809
4      210328165810
           ...
211    210329013329
212    210329013330
213    210329013331
214    210329013332
215    210329013333
Name: gameID, Length: 216, dtype: object

In [11]:
df6

,gameID,Player1Action,Player1Bet,Player1Money,Player1Status,Player1Card1Value,Player1Card1Figure,Player1Card2Value,Player1Card2Figure,Player2Action,...,Player6Card1Figure,Player6Card2Value,Player6Card2Figure,gameID,Player1Outcome,Player2Outcome,Player3Outcome,Player4Outcome,Player5Outcome,Player6Outcome
0,210328165805,All-in,1500,0,True,12,Diamonds,3,Spades,Fold,...,Clubs,6,Hearts,210328165805,-1500,-25,4352,-1327,-1500,0
1,210328165807,All-in,0,0,False,12,Spades,11,Diamonds,Call,...,None,None,None,210328165807,0,150,-50,-50,0,-50
2,210328165808,All-in,0,0,False,7,Hearts,9,Hearts,Call,...,None,None,None,210328165808,0,-1450,-1450,0,0,2900
3,210328165809,All-in,0,0,False,3,Spades,13,Spades,Fold,...,None,None,None,210328165809,0,-25,-2897,0,0,2922
4,210328165810,All-in,0,0,False,2,Hearts,4,Spades,Raise,...,None,None,None,210328165810,0,-143,243,-50,0,-50
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
211,210329013329,Call,0,27673,True,6,Clubs,11,Spades,Blind,...,None,None,None,210329013329,50,0,0,-50,0,0
212,210329013330,Raise,3074,24649,True,12,Clubs,12,Spades,Blind,...,None,None,None,210329013330,25,0,0,-25,0,0
213,210329013331,Raise,3083,24665,True,11,Diamonds,5,Spades,Blind,...,None,None,None,210329013331,3083,0,0,-3083,0,0
214,210329013332,Call,0,30831,True,8,Hearts,2,Spades,Blind,...,None,None,None,210329013332,25,0,0,-25,0,0
215,210329013333,Fold,0,30831,False,10,Spades,2,Hearts,Blind,...,None,None,None,210329013333,-25,0,0,25,0,0

In [15]:
df6.columns.unique()

Index(['gameID', 'Player1Action', 'Player1Bet', 'Player1Money',
       'Player1Status', 'Player1Card1Value', 'Player1Card1Figure',
       'Player1Card2Value', 'Player1Card2Figure', 'Player2Action',
       'Player2Bet', 'Player2Money', 'Player2Status', 'Player2Card1Value',
       'Player2Card1Figure', 'Player2Card2Value', 'Player2Card2Figure',
       'Player3Action', 'Player3Bet', 'Player3Money', 'Player3Status',
       'Player3Card1Value', 'Player3Card1Figure', 'Player3Card2Value',
       'Player3Card2Figure', 'Player4Action', 'Player4Bet', 'Player4Money',
       'Player4Status', 'Player4Card1Value', 'Player4Card1Figure',
       'Player4Card2Value', 'Player4Card2Figure', 'Player5Action',
       'Player5Bet', 'Player5Money', 'Player5Status', 'Player5Card1Value',
       'Player5Card1Figure', 'Player5Card2Value', 'Player5Card2Figure',
       'Player6Action', 'Player6Bet', 'Player6Money', 'Player6Status',
       'Player6Card1Value', 'Player6Card1Figure', 'Player6Card2Value',
       'Player6Card2Figure', 'Player1Outcome', 'Player2Outcome',
       'Player3Outcome', 'Player4Outcome', 'Player5Outcome', 'Player6Outcome'],
      dtype='object')

In [8]:
#df6 = ds.link_phases([df_6x1,df_6x2,df_6x3,df_6x4,df_6xR])

In [ ]:
#inputs = tf.keras.Input(shape=)